body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    /* background-color: rgb(201, 219, 239); */
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

#title {
    display: flex;
    justify-content: center;
}

#header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#form-style {
    display: flex;
    justify-content: center;
}

#description-input {
    width: 80rem;
    border: 1px solid #ccc;
    margin: 8px 0;
    margin-left: 30px;
    padding: 12px 15px;
    /* margin-right: 8px; */
    border-radius: 6px;
    font-size: 20px;


}

#img-size {
    padding: 8px 14px;
    margin-left: 30px;
    font-size: 20px;
    width: 120px;
}

#submit-div {
    display: flex;
    justify-content: center;
}

#form-submit {
    margin-right: 8px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    padding: 8px 8px;
}

#image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.msg {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }
